#audit-list {
  .apply-comma:not(:last-child)::after {
    white-space: pre;
    content: ", ";
  }

  .list-view-pf-body > .list-view-pf-description {
    width: 30%;
    flex: 1 0 30%;
  }

  .list-group-item-header {
    .list-group-item-heading {
      flex: 1 0 unquote("calc(45% - 20px)");
      width: unquote("calc(45% - 20px)"); // IE9 fallback
    }
  }

  .list-group-item-text {
    flex: 1 0 auto;
    width: calc(55% - 40px);
  }

  .list-group-item-container {
    padding-top: 20px;

    .actions-btns {
      padding-bottom: 30px;

      .btn {
        float: right;
        margin-left: 10px;
      }
    }

    .grid-container {
      .details-row {
        border: 1px solid #d1d1d1;
        margin-top: 15px;
      }

      .change-list {
        ul {
          margin-top: 10px;

          li {
            list-style-type: none;
          }
        }
      }

      .comment-section {
        p {
          margin-left: 10px;
          margin-right: 15px;
        }

        .comment-title {
          margin-top: 10px;
        }
      }

      .table-changes {
        margin-top: 15px;

        td {
          padding: 5px;
          background-color: #edf8ff;

          p {
            margin: 0 15px;
          }
        }
      }

      .table-hover > tbody > tr:hover > td,
      .table-hover > tbody > tr:hover > th {
        border: 1px solid #d1d1d1;
      }

      .show-old {
        background-color: #ffeef0;
      }

      .show-new {
        background-color: #e6ffed;
      }
    }
  }
}
